header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: right;
  top: 0;
  width: 100vw;
  padding: 20px;
  background-color: transparent;
  z-index: 9999;
}

.name {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

.social-icons {
    justify-self: end;
    display: flex;
    flex-direction: column;
  }
    
  .social-icons .icon {
    font-size: 2rem;
    margin: 8px;
    transition: all 0.5s ease;
    color: white;
  }
  
  .social-icons .icon.github:hover {
    transform: rotate(360deg) scale(1.2);
  }
  
  .social-icons .icon.twitter:hover {
    transform: rotate(-10deg) scale(1.2);
  }
  
  .social-icons .icon.linkedin:hover {
    transform: skew(10deg) scale(1.2);
  } 