.title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 72px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons .icon {
    font-size: 6rem;
    transition: all 0.5s ease;
    color: white;
    padding: 40px;

  }
  
  .social-icons .icon.github:hover {
    transform: rotate(360deg) scale(2);
  }
  
  .social-icons .icon.twitter:hover {
    transform: rotate(-10deg) scale(2);
  }
  
  .social-icons .icon.linkedin:hover {
    transform: skew(20deg) scale(2);
  } 
  